<footer id="footer" class="p-y-24 flex flex-column">
  <!--Links-->
  <div class="container container-xl">
    <div class="footer-info border-none">
      <ul class="footer-links">
        <li class="m-r-8">
          <a href="/" class="flex items-center">
            <img
              alt="Zauberhaft Logo"
              src="/logo-40x40.png"
              class="w-10 h-10"
              width="100"
              height="100"
            />
            <div class="m-l-4 flex items-start flex-column">
              <h1 class="h5 font-bold line-h-lg">Gradas & Vallas CUU</h1>
              <p class="small align-left">By Kevin Dino</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Social media & copyright-->
  <div class="container container-xl m-b-6">
    <div class="footer-info">
      <div class="footer-links">
        <a
          href="https://github.com/miwelomali/"
          class="m-r-8"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke-width="2.25"
            class="ai ai-GithubFill"
          >
            <title>GitHub link icon</title>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"
            ></path>
          </svg>
        </a>
      </div>
      <small
        >Designed, developed &amp; maintained by <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/miwelomali/"
          class="small underline">Kevin Dino</a
        >
      </small>
    </div>
  </div>
  <!--Descriptions-->
  <div class="container container-xl">
    <div class="flex flex-column">
      <p class="footer-desc m-b-6 caption lg-w-50">
        This website is built with
        <a
          href="https://ravenbrightcss.com"
          target="_blank"
          rel="noopener noreferrer"
          class="caption underline"
        >
          Ravenbright CSS
        </a> Icons are courtesy of
        <a
          href="https://akaricons.com"
          class="caption underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          Akar Icons
        </a> &
        <a
          href="https://tabler-icons.io/"
          class="caption underline"
          target="_blank"
          rel="noopener noreferrer"
          >Tabler Icons
        </a>. Photos are courtesy of <a
          href="https://unsplash.com"
          class="caption underline"
          target="_blank"
          rel="noopener noreferrer">Unsplash</a
        >. Typeface:
        <a
          href="https://www.fontshare.com/fonts/satoshi"
          class="caption underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          Satoshi Font Family by Indian Type Foundry
        </a>
        . Placeholder Logo is using
        <a
          href="https://logoipsum.com/"
          class="caption underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          Logoipsum.
        </a>
        Code released under
        <a
          class="caption underline"
          href="https://github.com/ariqnrnns/zauberhaft-astro/blob/main/LICENSE.md"
          target="_blank"
          rel="noopener noreferrer"
        >
          Apache License 2.0
        </a>.
      </p>
    </div>
  </div>
</footer>
